@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

* {
    font-family: 'Open Sans', sans-serif !important;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}